@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}
@keyframes flyToCart {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(var(--fly-end-x), var(--fly-end-y)) scale(0.25);
    opacity: 0.2;
  }
}